<html>
	<head>
		<title>{{ title }} - Darwin Flask Test</title>
	</head>
	<body>
		<!-- <p>{{ traindata }}</p> -->
		<!-- <p>{{ trainstation }}</p> -->
		<p>{{ trainstation.departure }} to {{ trainstation.arrival }}</p>
		<p>{{ trainservices }}</p>
		<div class="train_times">
			{% for services in trainservices %}
				{% if services.status != 'On time' %}
					<p>{{services.arrival_time}} -> {{services.estimated_arrival}}</p>
				{% endif %}
				{% if services.status == 'On time' %}
					<p>{{services.arrival_time}} ({{services.status}})</p>
					{% if not loop.last %}
						|
					{% endif %}
				{% endif %}
			{% endfor %}
			{% if traindata.status == 'Cancelled' %}
				<p>The previous service is: <span>{{ traindata.alternate_service }}</span></p>
				<p>The previous train arrives at: <span>{{ alternate_status }}</span></p>
			{% endif %}
		</div>
			{% if trainstation.nrcc %}
				<p>{{ trainstation.nrcc }}</p>
			{% endif %}
	</body>
</html>