<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="train_times">
			{% for key, item in trainservice.items() %}
				{% if item["status"] == 'On time' %}
					<p>{{ item["arrival_time"] }} ({{ item["status"] }})</p>
					{% if not loop.last %}
						|
					{% endif %}
				{% endif %}
				{% if item["status"] != 'On time' and item["status"] != 'Cancelled' %}
					<p>{{ item["arrival_time"] }} -> {{ item["estimated_arrival"] }}</p>
					{% if not loop.last %}
						|
					{% endif %}
				{% endif %}
				{% if item["status"] == 'Cancelled' %}
					<p>{{ item["arrival_time"] }} ({{ item["status"] }})</p>
					<p>The previous service is: <span>{{ item["alternate_service"] }}</span></p>
					{% if item["alternate_status"] != 'On time' %}
						<p><span>({{ item["alternate_status"] }})</span></p>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
</body>
</html>